<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
    <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">

        <div>Hello!! Now, you logged in...</div>
        <button class="px-2 py-2 bg-red-800 rounded mt-7"><a href="/logout">Logout</a></button>
    </div>
</body>
</html>